<!DOCTYPE html>
<html>
    <head>
        <link href="login.css" rel="stylesheet">
            <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js">
            </script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
            </script>
            <script src="/login_script.js">
            </script>
        </link>
    </head>
    <audio autoplay="autoplay" loop="loop" preload="auto" src="soma.mp3">
    </audio>
    <body ng-app="Login">
        <div class="wrap">
            <h1>
                MY OWN YELP!
            </h1>
        </div>
        <div class="login-page" ng-controller="logController">
            <div class="form">
                <form class="login-form">
                    <input id="uid" ng-model="user_id" placeholder="user id" type="text"/>
                    <input id="pwd" ng-model="user_pass" placeholder="password" type="password"/>
                    <table>
                        <tr>
                            <td>
                                <button id="login" ng-click="Verify()" class="button">sign in
                                </button>
                            </td>
                            <td>
                                <button id="signup" ng-click="Create()" class="button">sign up
                                </button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </body>
</html>
>
