<!DOCTYPE html> 
<html>
	<head>

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

  
      	<link rel="stylesheet" href="/search.css">
		<script src = "http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
		<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="/search_script.js"></script>
		<script>
            function disp() {
            	var Kuang = document.getElementById('kuang')
                Kuang.setAttribute("class", "tbl-content2");
            	var hTable = document.getElementById('resultH')
                hTable.style.display = ""
                var pTable = document.getElementById('resultT')
                pTable.style.display = ""
            }
        </script>
	</head>
	<body ng-app = "Search">
		<div ng-controller = "SearchController">
			<h1>Search</h1>
			<div class="form">
                <form class="search-form">
                    <input city="city" ng-model="city" placeholder="city" value="">
					<input feature="feature" ng-model="feature" placeholder="feature" value="">
					<input time = "time" ng-model = "time" placeholder="time" value = "">
                    <table>
                        <tr>
                            
                             <button type="button" ng-click="SearchF()" onclick="disp()" class="button">Search
                             </button>
                            
           
                        </tr>
                    </table>
                </form>
            </div>
			<section>
			<div class="tbl-header">
    		<table cellpadding="0" cellspacing="0" border="0" id="resultH">
      		<thead>
        		<tr>
          		<th> Name </th>
		            <th> Address </th>
		            <th> Star </th>
		            <th> Review Count </th>
        		</tr>
      		</thead>
   		 	</table>
  			</div>
  			<div class="tbl-content1" id="kuang">
    		<table cellpadding="0" cellspacing="0" border="0" id="resultT">
      		<tbody>
        		<tr ng-repeat = "x in data">
		            <td> {{x[0]}} </td>
		            <td> {{x[1]}} </td>
		            <td> {{x[2]}} </td>
		            <td> {{x[3]}} </td>
				</tr>
      		</tbody>
    		</table>
    		<script>
    		var hTable = document.getElementById('resultH')
            hTable.style.display = "none"
            var pTable = document.getElementById('resultT')
            pTable.style.display = "none"
        	</script>
  			</div>
			</section>
	</body>
</html>